@{
    ViewData["Title"] = "Sign In";
}

<div class="center-vertical">
    <h1>Welcome to <b>daSSH</b>!</h1>
    <br>
    <md-filled-button class="discord-signin" href="/SignIn">Sign in with Discord</md-filled-button>
</div>
