<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>daSSH - @ViewData["Title"]</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <script type="module">
        import 'https://esm.run/@@material/web/all.js';
    </script>
    <script src="~/js/index.js" type="module"></script>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/light.css" />
    <link rel="stylesheet" href="~/css/dark.css" />
</head>

<body>
    <div class="main">
        <header class="darker-bg">
            <div class="flex-h margin">
                @{var avatar = User.FindFirstValue("daSSH-avatar");}
                @if (avatar == null) {
                    <md-filled-tonal-icon-button href="/SignIn">
                        <md-icon>login</md-icon>
                    </md-filled-tonal-icon-button>
                } else {
                    <span id="menu-span">
                        <md-filled-tonal-icon-button id="account">
                            <img src="@avatar" alt="Account" class="round" />
                        </md-filled-tonal-icon-button>
                        <md-menu id="account-menu" anchor="account">
                            <div class="margin">
                                Logged in as <strong>@User.FindFirstValue("daSSH-username")</strong>
                            </div>
                            <md-menu-item href="/Manage/Account">
                                Settings
                                <md-icon slot="start">manage_accounts</md-icon>
                            </md-menu-item>
                            <md-menu-item href="/SignOut">
                                Sign Out
                                <md-icon slot="start">logout</md-icon>
                            </md-menu-item>
                        </md-menu>
                    </span>
                }
                <div id="title">
                    <md-text-button href="/">
                        <h1>daSSH</h1>
                    </md-text-button>
                </div>
                <md-filled-tonal-icon-button id="theme-switcher">
                    <md-icon id="theme-switcher-icon">brightness_4</md-icon>
                </md-filled-tonal-icon-button>
            </div>
        </header>

        <main class="main margin">
            @RenderBody()
        </main>

        <footer class="darker-bg">
            <div class="flex-h margin">
                &copy; 2025 Kacper0510 - daSSH -&nbsp; <a href="https://github.com/Kacper0510/daSSH">GitHub</a>
            </div>
        </footer>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
