<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>daSSH - @ViewData["Title"]</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined" rel="stylesheet" />
    <script type="module">
        import 'https://esm.run/@@material/web/all.js';
    </script>
    <script src="~/js/index.js" type="module"></script>
    <link rel="stylesheet" href="~/css/style.css" />
    <link rel="stylesheet" href="~/css/light.css" />
    <link rel="stylesheet" href="~/css/dark.css" />
</head>

<body>
    <div class="main">
        <header class="darker-bg">
            <div class="center-horizontal margin">
                <md-filled-tonal-button id="theme-switcher">Theme</md-filled-tonal-button>
                <h1 style="margin: 0 auto;">daSSH</h1>
                <md-filled-tonal-button id="account">Acc</md-filled-tonal-button>
            </div>
        </header>

        <main class="main margin">
            @RenderBody()
        </main>

        <footer class="darker-bg">
            <div class="center-horizontal margin">
                &copy; 2025 Kacper0510 - daSSH -&nbsp; <a href="https://github.com/Kacper0510/daSSH">GitHub</a>
            </div>
        </footer>
    </div>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
