@model int
@{
    ViewData["Title"] = "View Instance Files";
}

<div class="flex-v">
    <p>There is nothing to see here yet (sorry!)</p>
    <br>
    <md-filled-button href="/Manage/Instance/@Model">Go back</md-filled-button>
</div>
