@{
    ViewData["Title"] = "Manage Instances";
}

<div class="center-vertical">
    <h1>Welcome to <b>daSSH</b>!</h1>
    <br>
    <h2>@User.FindFirstValue("daSSH-username") with ID @User.FindFirstValue("daSSH-id")</h2>
</div>
