.dark {
  --md-sys-color-primary: rgb(255 249 229);
  --md-sys-color-surface-tint: rgb(221 200 0);
  --md-sys-color-on-primary: rgb(55 49 0);
  --md-sys-color-primary-container: rgb(245 222 11);
  --md-sys-color-on-primary-container: rgb(108 97 0);
  --md-sys-color-secondary: rgb(213 200 118);
  --md-sys-color-on-secondary: rgb(55 49 0);
  --md-sys-color-secondary-container: rgb(82 74 1);
  --md-sys-color-on-secondary-container: rgb(198 186 105);
  --md-sys-color-tertiary: rgb(239 255 205);
  --md-sys-color-on-tertiary: rgb(36 54 0);
  --md-sys-color-tertiary-container: rgb(185 237 87);
  --md-sys-color-on-tertiary-container: rgb(74 106 0);
  --md-sys-color-error: rgb(255 180 171);
  --md-sys-color-on-error: rgb(105 0 5);
  --md-sys-color-error-container: rgb(147 0 10);
  --md-sys-color-on-error-container: rgb(255 218 214);
  --md-sys-color-background: rgb(21 20 9);
  --md-sys-color-on-background: rgb(232 226 207);
  --md-sys-color-surface: rgb(21 20 9);
  --md-sys-color-on-surface: rgb(232 226 207);
  --md-sys-color-surface-variant: rgb(75 71 50);
  --md-sys-color-on-surface-variant: rgb(205 199 171);
  --md-sys-color-outline: rgb(150 145 120);
  --md-sys-color-outline-variant: rgb(75 71 50);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(232 226 207);
  --md-sys-color-inverse-on-surface: rgb(51 49 36);
  --md-sys-color-inverse-primary: rgb(106 95 0);
  --md-sys-color-primary-fixed: rgb(252 228 25);
  --md-sys-color-on-primary-fixed: rgb(32 28 0);
  --md-sys-color-primary-fixed-dim: rgb(221 200 0);
  --md-sys-color-on-primary-fixed-variant: rgb(80 71 0);
  --md-sys-color-secondary-fixed: rgb(242 228 143);
  --md-sys-color-on-secondary-fixed: rgb(32 28 0);
  --md-sys-color-secondary-fixed-dim: rgb(213 200 118);
  --md-sys-color-on-secondary-fixed-variant: rgb(80 71 0);
  --md-sys-color-tertiary-fixed: rgb(191 244 93);
  --md-sys-color-on-tertiary-fixed: rgb(19 31 0);
  --md-sys-color-tertiary-fixed-dim: rgb(164 215 67);
  --md-sys-color-on-tertiary-fixed-variant: rgb(54 78 0);
  --md-sys-color-surface-dim: rgb(21 20 9);
  --md-sys-color-surface-bright: rgb(60 57 44);
  --md-sys-color-surface-container-lowest: rgb(16 14 5);
  --md-sys-color-surface-container-low: rgb(30 28 16);
  --md-sys-color-surface-container: rgb(34 32 20);
  --md-sys-color-surface-container-high: rgb(44 42 30);
  --md-sys-color-surface-container-highest: rgb(55 53 40);
  --md-extended-color-custom-color-color: rgb(182 196 255);
  --md-extended-color-custom-color-on-color: rgb(0 40 126);
  --md-extended-color-custom-color-color-container: rgb(0 81 234);
  --md-extended-color-custom-color-on-color-container: rgb(211 219 255);
}
