.light {
  --md-sys-color-primary: rgb(106 95 0);
  --md-sys-color-surface-tint: rgb(106 95 0);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(245 222 11);
  --md-sys-color-on-primary-container: rgb(108 97 0);
  --md-sys-color-secondary: rgb(104 95 24);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(239 225 140);
  --md-sys-color-on-secondary-container: rgb(109 99 28);
  --md-sys-color-tertiary: rgb(73 104 0);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(185 237 87);
  --md-sys-color-on-tertiary-container: rgb(74 106 0);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(255 249 233);
  --md-sys-color-on-background: rgb(30 28 16);
  --md-sys-color-surface: rgb(255 249 233);
  --md-sys-color-on-surface: rgb(30 28 16);
  --md-sys-color-surface-variant: rgb(234 227 198);
  --md-sys-color-on-surface-variant: rgb(75 71 50);
  --md-sys-color-outline: rgb(124 119 95);
  --md-sys-color-outline-variant: rgb(205 199 171);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(51 49 36);
  --md-sys-color-inverse-on-surface: rgb(247 241 221);
  --md-sys-color-inverse-primary: rgb(221 200 0);
  --md-sys-color-primary-fixed: rgb(252 228 25);
  --md-sys-color-on-primary-fixed: rgb(32 28 0);
  --md-sys-color-primary-fixed-dim: rgb(221 200 0);
  --md-sys-color-on-primary-fixed-variant: rgb(80 71 0);
  --md-sys-color-secondary-fixed: rgb(242 228 143);
  --md-sys-color-on-secondary-fixed: rgb(32 28 0);
  --md-sys-color-secondary-fixed-dim: rgb(213 200 118);
  --md-sys-color-on-secondary-fixed-variant: rgb(80 71 0);
  --md-sys-color-tertiary-fixed: rgb(191 244 93);
  --md-sys-color-on-tertiary-fixed: rgb(19 31 0);
  --md-sys-color-tertiary-fixed-dim: rgb(164 215 67);
  --md-sys-color-on-tertiary-fixed-variant: rgb(54 78 0);
  --md-sys-color-surface-dim: rgb(224 218 199);
  --md-sys-color-surface-bright: rgb(255 249 233);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(250 243 224);
  --md-sys-color-surface-container: rgb(244 238 218);
  --md-sys-color-surface-container-high: rgb(238 232 213);
  --md-sys-color-surface-container-highest: rgb(232 226 207);
  --md-extended-color-custom-color-color: rgb(0 61 181);
  --md-extended-color-custom-color-on-color: rgb(255 255 255);
  --md-extended-color-custom-color-color-container: rgb(0 81 234);
  --md-extended-color-custom-color-on-color-container: rgb(211 219 255);
}
