div.flex-h {
    display: flex;
    justify-content: center;
}

div.flex-v {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 767px) {
    div.flex-d {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    .min-tc {
        min-width: 70vw;
    }
}

@media (min-width: 768px) {
    div.flex-d {
        display: flex;
        justify-content: center;
    }

    .min-tc {
        min-width: 35vw;
    }
}

img.round {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

div.main {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

main.main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.darker-bg {
    background-color: var(--md-sys-color-surface-container-low);
}

.discord-signin {
    --md-filled-button-container-color: var(--md-extended-color-custom-color-color-container);
    --md-filled-button-label-text-color: var(--md-extended-color-custom-color-on-color-container);
}

.margin {
    margin: 3%;
}

a:link {
    color: var(--md-extended-color-custom-color-color);
}

a:visited {
    color: var(--md-extended-color-custom-color-color-container);
}

header {
    --md-filled-tonal-icon-button-container-width: 48px;
    --md-filled-tonal-icon-button-container-height: 48px;
}

html,
body {
    height: 100%;
    margin: 0;
    background-color: var(--md-sys-color-surface-container-high);
    color: var(--md-sys-color-on-surface);
    font-family: var(--md-ref-typeface-brand);
    text-align: center;
    --md-list-container-color: var(--md-sys-color-surface-container-high);
}

:root {
    --md-ref-typeface-brand: 'Montserrat';
    --md-ref-typeface-plain: 'Montserrat';
}
